<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="back"
        color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <ion-item>
      <ion-label position="floating">Nombre: </ion-label>
      <ion-input type="text" name="txtNombre" placeholder="Aaron" 
            [(ngModel)]="newregistrar.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">contraseña: </ion-label>
      <ion-input type="text" name="txtTipo" placeholder="Rodriguez" 
            [(ngModel)]="newregistrar.contrasena"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut: </ion-label>
      <ion-input type="number" name="txtTipo" placeholder="00.000.000-k" 
            [(ngModel)]="newregistrar.rut"></ion-input>
    </ion-item>

    <ion-button (click)="crearRegistrar()" expand="block" color="success" shape="round">
      Crear registrar
    </ion-button>


  </form>
</ion-content>