<ion-header [translucent]="true">

  <ion-toolbar>

   <ion-buttons slot="start">

    <ion-button (click)="mostrarMenu()">

     <ion-icon slot="icon-only" name="menu-outline"></ion-icon>

    

    </ion-button>

   </ion-buttons>

   <ion-title>RegistrAPP</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Inicio </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-header class="texto">
      <ion-card-content>
        <img src="assets/duoc.jfif">
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-card class="texto" style="color:black;">
  
    ¡Bienvenido a RegistrApp <br>
    App hecha para registrar de manera mas eficaz y rápido la asistencia de DuocUc. <br> <br> 
    <ion-button (click)="redirectLogin()" >
      Ir al login
    </ion-button>
    <ion-button (click)="redirectRegistro()" >
      Ir a registrarme
    </ion-button>
    <ion-button (click)="redirectInformacion()" >
      Ir a información
    </ion-button>
  </ion-card>


<ion-content [fullscreen]="true">

  



  
</ion-content>
