<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-buttons slot="start" >
    <ion-back-button defaultHref="/"
     text="back"
     color="success" 
     name="arrow-undo-outline"></ion-back-button>
   </ion-buttons>
   <ion-title>RegistrAPP</ion-title>
   <ion-buttons slot="end">
    <ion-button [routerLink]="['/agregar']" color="success" >Agregar 
    </ion-button>
  </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="texto" >
  <ion-list>
    <ion-item *ngFor="let a of asistencias; let i=index">
      <ion-label>Nombre: {{a['nombre']}} <br> Apellido: {{a['apellido']}} <br> Rut: {{a['rut']}} <br> Seccion: {{a['seccion']}}</ion-label>
    </ion-item>
  </ion-list>

  </ion-card>

</ion-content>
